<h1>his is where the registration form goes</h1>
<form action="/register" method="POST">
    <input type="text" placeholder="username" name="register[username]">
    <input type="password" placeholder="password" name="register[password]">
    <button>Sign Up</button>
</form>